@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
    font-family: "Roboto Flex", roboto, system-ui;
    margin: 0;
    padding: 0;
}

.form-search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 2.5px solid rgb(247, 249, 255);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: rgb(240, 246, 234);
}

#city-input,
#search-button {
    border: 0;
    border-radius: 20px;
    background-color: rgb(255, 240, 209);
    padding: 20px;
    margin: 25px;
}

#search-button {
    font-size: 14px;
    font-weight: 800px;
}

.left-half {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 1fr;
    width: 40%;
    margin: 10px 30px 10px 5px;
}

.forecast-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    border: 2.5px solid rgb(247, 249, 255);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: rgb(240, 246, 234);
}

.forecast-display > div {
    background-color: rgb(255, 240, 209);
    border-radius: 20px;
    margin: 30px 5%;
    padding: 25px 0 10px 18px;
}

.forecast-display > div > div {
    display: grid;
    grid-template-columns: 88px 0.5fr 3fr;
    align-items: center;
    padding: 20px 10px;
}

.temp {
    display: flex;
    margin: 6px 0 -10px -12px;
}

.gif {
    justify-self: end;
    margin-right: 20%;
    border-radius: 20px;
}