@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

* {
    font-family: roboto, "Roboto Flex", system-ui;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(53, 47, 68);
}

.form-search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    border: 2.5px solid rgb(185, 180, 199);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: rgb(92, 84, 112);
}

#city-input,
#search-button {
    border: 0;
    border-radius: 20px;
    background-color: rgb(255, 240, 209);
    padding: 22.5px;
    margin: 25px 5px;
    font-weight: 500;
}

#search-button {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.credits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 10px;
}

.left-half {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 1fr;
    margin: 10px 30px 10px 5px;
}

.forecast-display {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding: 20px;
    border: 2.5px solid rgb(185, 180, 199);
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: rgb(92, 84, 112);
}

.forecast-display > div {
    background-color: rgb(255, 240, 209);
    border-radius: 20px;
    margin: 30px 5%;
    padding: 25px 0 10px 18px;
}

.forecast-display > div > .weather-images {
    display: grid;
    grid-template-columns: 88px 1.3fr 2.8fr;
    align-items: center;
    padding: 20px 10px;
}

.temp {
    display: flex;
    margin: 6px 0 -10px -12px;
}

.gif {
    justify-self: end;
    margin-right: 20%;
    border-radius: 20px;
}

.website-container {
    display: grid;
    grid-template-columns: 1.8fr 3fr;
    grid-template-rows: 1fr;
    padding: 15px;
}

.right-half {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 1fr;
    margin: 10px 0 10px 5px;
}

.current-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 2.5px solid rgb(185, 180, 199);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: rgb(92, 84, 112);
}

.current-0 > h2 {
    background-color: rgb(255, 240, 209);
    font-size: calc(1rem + 1vh + 1vw);
    border-radius: 30px;
    padding: 60px;
}

.double-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 20px;
    border: 2.5px solid rgb(185, 180, 199);
    background-color: rgb(92, 84, 112);
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}

.double-container > div {
    background-color: rgb(255, 240, 209);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

.weather-bigger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigger-gif {
    display: grid;
    max-height: 1000px;
}

.bigger-gif > img {
    justify-self: center;
    align-self: center;
    margin-right: 0;
    border-radius: 40px;
}
